.content__container {
  background-color: var(--white);
  border-radius: 1.3rem;
  margin: .5rem;
}

.input__search {
  border: 1px solid var(--background--button-submit);
  border-radius: 1.3rem;
  font-size: 14px;
  padding: 0.5rem;
  width: 50%
}

.input__search:hover {
  background-color: var(--backgroung--body-two);
  border: 1px solid transparent;
}

.input__search:focus {
  background-color: var(--backgroung--body-two);
  border: 1px solid transparent;
  outline: none;
}

.cards__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
}

.card {
  background-color: white;
  border-radius: 1.3rem;
  box-shadow: 0 0 1.05333rem var(--background--button-submit);
  display: flex;
  flex-direction: column;
  gap: .6rem;
  min-width: 210px;
  padding: .8rem;

}

.card__title {
  border-bottom: 1px solid var(--background--button-submit);
  font-size: 16px;
  font-weight: bold;
  padding-bottom: .5rem;
  text-align: center;
}

.section {
  display: flex;
  justify-content: space-between;
}

.section__group {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.card__labels {
  font-size: 14px;
  font-weight: 300;
}

.button__container {
  border-bottom: 1px solid var(--background--button-submit);
  display: flex;
  gap: .5rem;
  justify-content: flex-end;
}

.button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding: 0.4rem 0.5rem;
  width: fit-content;
}

.button:hover {
  background-color: var(--background--gray);
  cursor: pointer;
}

@media screen and (max-width:768px) {
  .input__search {
    width: -webkit-fill-available;
  }

  .cards__container {
    grid-template-columns: 1fr;
    padding: 1.5rem;
  }
}

@media screen and (max-width:1024px) {
  .input__search {
    width: -webkit-fill-available;
  }

  .cards__container {
    grid-template-columns: 1fr;
    padding: 1.5rem;
  }
}