.containerMobile__body {
    background-image: linear-gradient(to bottom, var(--backgroung--body-one), var(--backgroung--body-two));
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.container__presentation {
    display: flex;
    margin-top: 16rem;
    flex-direction: row;
}