.container__sidebar {
  background-image: linear-gradient(to bottom, var(--backgroung--body-one), var(--backgroung--body-two))
}
.img__sidebar {
  border-radius: 1.3rem; 
  width: 150px;
  height: 150px;
  margin: 0.5rem;
}