.container__header {
  background-image: linear-gradient(to right, var(--gradient-one) , var(--gradient-two), var(--gradient-three));
}

.container__navbar {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.navbar--rigth {
  width: 50%;
}

.title__navbar {
  background-color: var(--white);
  border: none;
  border-radius: 0.63rem;
  color: var(--background--button-submit);
  cursor: pointer;
  font-size: 18px;
  padding: 0.3rem;
  width: 25%;
}

.navbar__anchor {
  color: var(--black);
  margin-left: 1.5rem;
  text-decoration: none;
}

.input__seach::placeholder {
  color: var(--white);
}
