.smallTitle {
  margin: 0.5rem;
}
.list__img_friends {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.ancor__friends {
  position: relative;
}
.img__friends {
  border-radius: 1.3rem; 
  width: 100px;
  height: 100px;
  margin: 0.5rem;
}
.name__friends {
  font-size: 12px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: var(--white);
}

@media screen and (max-width:768px) {
  .img__sidebar {
      width: 120px;
      height: 120px;
  }
}