.container__table {
  background-color: var(--white);
  border-radius: 1.3rem;
  margin: .3rem;
}
.input__seach {
  text-align: center;
  background-color: var(--background--button-submit);
  border: none;
  border-radius: 0.63rem;
  font-size: 16px;
  margin: .5rem;
  padding: 0.3rem;
  width: 30%;
}
.header__table {
  padding: .8rem .8rem;
  text-align: start;
}
.body__table {
  border-top: 2px solid var(--backgroung--body-two);
  padding: .4rem .4rem;
  text-align: center;
}
.table__button--delete {
  height: 30px;
  background-color: var(--background--button-delete);
  border: none;
  border-radius: .6rem;
  color: var(--white);
}